<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ld.gg.dao.AdminDao">
	<select id="get_notice_history" resultType="notice">
		SELECT * FROM
		NOTICE_BOARD
		ORDER BY t_b_num desc;
	</select>

	<select id="get_notice_detail" resultType="notice">
		SELECT * FROM
		NOTICE_BOARD
		WHERE T_B_NUM = #{t_b_num}
	</select>

	<update id="increase_views">
		UPDATE NOTICE_BOARD
		SET T_B_VIEWS = T_B_VIEWS + 1
		WHERE T_B_NUM = ${t_b_num}
	</update>

	<select id="search_notice" resultType="notice">
		SELECT * FROM NOTICE_BOARD
		WHERE T_B_CONTENT LIKE '%${keyword}%'
		ORDER BY t_b_num desc;
	</select>

	<insert id="write_notice" parameterType="notice">
		INSERT INTO NOTICE_BOARD (t_b_content, t_b_title)
		VALUES (#{t_b_content}, #{t_b_title})
	</insert>

	<update id="modify_notice" parameterType="notice">
		UPDATE NOTICE_BOARD
		SET
		t_b_title = #{t_b_title},
		t_b_content = #{t_b_content},
		t_b_date =
		default
		where t_b_num = #{t_b_num}
	</update>

	<insert id="insertAd" parameterType="ad">
		INSERT INTO ad (ad_pay,
		ad_advertiser, ad_name, ad_start, ad_end)
		VALUES (#{ad_pay},
		#{ad_advertiser}, #{ad_name}, #{ad_start},
		#{ad_end})
	</insert>

	<select id="getAdList" resultType="ad">
		SELECT * FROM ad ORDER BY
		ad_num DESC;
	</select>

	<select id="getSearchAdList" resultType="ad">
		SELECT *
		FROM ad
		WHERE
		ad_advertiser LIKE '%${keyword}%' OR ad_name LIKE '%${keyword}%'
	</select>

	<select id="getMemberLists" resultType="member">
		SELECT
		email,phone_num,lol_account,user_type,join_date FROM MEMBER ORDER BY
		join_date DESC;
	</select>

	<select id="getSearchMemberLists" resultType="member">
		SELECT
		email,phone_num,lol_account,user_type,join_date
		FROM MEMBER
		WHERE
		email
		LIKE '%${keyword}%' OR lol_account LIKE '%${keyword}%'
	</select>

	<select id="getMemberHistoryLists"
		resultType="com.ld.gg.dto.SessionDto">
		SELECT * FROM session_record ORDER BY
		sessionDate DESC;
	</select>

	<select id="getSearchMemberHistoryLists"
		resultType="com.ld.gg.dto.SessionDto">
		SELECT *
		FROM session_record
		WHERE
		email LIKE '%${keyword}%'
	</select>

	<delete id="deleteForcedDrop" parameterType="member">
		DELETE FROM member
		WHERE email = #{email}
	</delete>
	
	<insert id="insert_notice_reply" parameterType="notice_reply">
		INSERT INTO NOTICE_REPLY (T_B_NUM, T_R_CONTENT, EMAIL)
		VALUES (#{t_b_num}, #{t_r_content}, #{email})
	</insert>
	
	<select id="get_notice_reply_list" resultType="notice_reply">
		SELECT * FROM NOTICE_REPLY 
		WHERE T_b_NUM = #{t_b_num}
	</select>
	
	<select id="get_notice_reply" resultType="notice_reply">
		SELECT * FROM NOTICE_REPLY
		WHERE T_R_NUM = #{t_r_num}
	</select>

	<delete id="delete_notice_reply" parameterType="notice_reply">
		DELETE FROM NOTICE_REPLY
		WHERE T_R_NUM = #{t_r_num}	
	</delete>
	
	<update id="notice_reply_update" parameterType="notice_reply">
		UPDATE NOTICE_REPLY 
		SET T_R_CONTENT = #{t_r_content} 
		WHERE t_r_num = #{t_r_num}
	</update>
	
	<delete id="notice_delete" parameterType="notice">
		DELETE FROM NOTICE_BOARD
		WHERE T_B_NUM = #{t_b_num}
	</delete>
</mapper>