<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ld.gg.dao.MiniGameDao">
	
	<select id="data_minigame" resultType="minigame_data">
		SELECT * FROM MINIGAME_DATA
	</select>
	
	<select id="timeline_minigame" resultType="minigame_time">
		<![CDATA[
		SELECT * FROM TIME_LINE_DATA
		WHERE MINI_T_TIME <= #{time}
		]]>
	</select>
	
	<select id="submit_minigame" resultType="int">
		SELECT MINIGAME_RESULT FROM MINIGAME_DATA
	</select>
	
	<update id="point_update">
		UPDATE POINT SET point_balance = point_balance + #{point}
		WHERE holder_email = #{email}
	</update>
</mapper>