<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ld.gg.dao.SessionDao">
	<insert id="insertSession" parameterType="com.ld.gg.dto.SessionDto">
		INSERT INTO session_record (logType, email, ipAddress, requestURI, httpMethod,userAgent)
		VALUES (#{logType}, #{email}, #{ipAddress}, #{requestURI}, #{httpMethod}, #{userAgent});
	</insert>

</mapper>