<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ld.gg.dao.mentoringdao.MentiDAO">

<select id="select_all_champ" resultType="com.ld.gg.dto.champ.Champ_default">
	SELECT champion_id, champion_en_name, champion_kr_name, champion_title, champion_tag, champion_img
	from champion_info
	ORDER BY champion_kr_name;
</select>

<select id="select_by_id_champ" resultType="com.ld.gg.dto.champ.Champ_default">
	SELECT champion_id, champion_en_name, champion_kr_name, champion_title, champion_tag, champion_img
	from champion_info
	WHERE champion_id = #{champion_id};
</select>

<select id="select_by_keyword_champ" resultType="com.ld.gg.dto.champ.Champ_default">
	SELECT champion_id, champion_en_name, champion_kr_name
	from champion_info
	WHERE champion_kr_name LIKE CONCAT('%', #{keyword}, '%');
</select>

<select id="recom_mentor" resultType="mentorProfile" parameterType="String">
SELECT mp.*, m.*, si.*
FROM mentor_profile AS mp

JOIN mentor_tag AS mt ON mp.mentor_email = mt.mentor_email
JOIN member AS m ON mp.mentor_email = m.email
JOIN (
	SELECT si1.*
	FROM summoner_info si1
JOIN (
    SELECT summoner_name, MAX(revision_date) AS MaxRevision
    FROM summoner_info
    GROUP BY summoner_name
) si2 ON si1.summoner_name = si2.summoner_name AND si1.revision_date = si2.MaxRevision
) si ON m.lol_account = si.summoner_name

WHERE mt.tag_id IN (SELECT tag_id FROM menti_tag WHERE menti_email = #{menti_email})
GROUP BY mp.mentor_email
HAVING COUNT(DISTINCT mt.tag_id) >= 2
ORDER BY COUNT(DISTINCT mt.tag_id) desc
LIMIT 5;
</select>

<select id="recom_menti" resultType="customMentor" parameterType="String">
	SELECT cm.menti_email , m.lol_account , cm.position_to_learn , cm.champion_to_learn , cm.target_tier
	FROM custom_mentor AS cm
	JOIN menti_tag AS mt ON cm.menti_email = mt.menti_email
	JOIN member AS m ON cm.menti_email = m.email
	WHERE mt.tag_id IN (SELECT tag_id FROM mentor_tag WHERE mentor_email = #{mentor_email})
	GROUP BY cm.menti_email
	HAVING COUNT(DISTINCT mt.tag_id) >= 2
	ORDER BY COUNT(DISTINCT mt.tag_id) desc;
</select>

<select id="select_all_custom_mentor" resultType="customMentor">
  SELECT * 
  FROM custom_mentor AS cm
  JOIN member AS m
  ON cm.menti_email = m.email;
</select>

<select id="select_by_email_custom_mentor" resultType="customMentor">
  SELECT * 
  FROM custom_mentor AS cm
  JOIN member AS m
  ON cm.menti_email = m.email
  WHERE cm.menti_email = #{menti_email};
</select>

<insert id="insert_custom_mentor" parameterType="customMentor">
  INSERT INTO custom_mentor (menti_email, position_to_learn, champion_to_learn, target_tier) 
  VALUES (#{menti_email},#{position_to_learn},#{champion_to_learn},#{target_tier});
</insert>

<update id="update_custom_mentor" parameterType="customMentor">
  UPDATE custom_mentor SET position_to_learn = #{position_to_learn},
  champion_to_learn = #{champion_to_learn}, target_tier = #{target_tier}
   WHERE menti_email = #{menti_email};
</update>

<delete id="delete_custom_mentor" parameterType="String">
  DELETE FROM custom_mentor WHERE menti_email = #{menti_email};
</delete>



</mapper>