<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ld.gg.dao.mentoringdao.MyMentoringDAO">


<select id="select_by_id_estimate" resultType="estimate">
	select e.estimate_id, e.estimate_info , e.mentor_email , 
	m.lol_account as mentor_lol_account, e.menti_email, 
	m2.lol_account as menti_lol_account, e.estimate_date
	from estimate e 
	join member m on e.mentor_email = m.email 
	join member m2 on m2.email = e.menti_email
	WHERE e.estimate_id = #{estimate_id}
	ORDER BY e.estimate_date DESC;
</select>

<select id="select_by_mentor_email_estimate" resultType="estimate">
	select e.estimate_id, e.estimate_info , e.mentor_email , 
	m.lol_account as mentor_lol_account, e.menti_email, 
	m2.lol_account as menti_lol_account, e.estimate_date
	from estimate e 
	join member m on e.mentor_email = m.email 
	join member m2 on m2.email = e.menti_email  
	WHERE e.mentor_email = #{mentor_email}
	ORDER BY e.estimate_date DESC;
</select>

<select id="select_by_menti_email_estimate" resultType="estimate">
	SELECT e.estimate_id, e.estimate_info, e.mentor_email, 
  m.lol_account AS mentor_lol_account, e.menti_email, 
  m2.lol_account AS menti_lol_account, e.estimate_date
  FROM estimate e 
  JOIN member m ON e.mentor_email = m.email 
  JOIN member m2 ON m2.email = e.menti_email  
  WHERE e.menti_email = #{menti_email}
  ORDER BY e.estimate_date DESC;
</select>

<insert id="insert_estimate" parameterType="estimate">
  INSERT INTO estimate (estimate_info, mentor_email, menti_email) 
  VALUES (#{estimate_info}, #{mentor_email}, #{menti_email});
</insert>

<delete id="delete_estimate" parameterType="int">
  DELETE FROM estimate WHERE estimate_id = #{estimate_id};
</delete>



</mapper>