<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ld.gg.dao.mentoringdao.MentiDAO">

<select id="select_all_menti_tag" resultType="mentiTag">
  SELECT * FROM menti_tag;
</select>

<select id="select_by_email_menti_tag" resultType="mentiTag">
  SELECT * 
  FROM menti_tag AS mt
  JOIN mentoring_tag_list AS mtl
  ON mt.tag_id = mtl.tag_id
  WHERE menti_email = #{menti_email};
</select>

<insert id="insert_menti_tag" parameterType="mentiTag">
  INSERT INTO menti_tag (menti_email, tag_id, tag_note) VALUES (#{menti_email}, #{tag_id}, #{tag_note});
</insert>

<delete id="delete_menti_tag" parameterType="String">
  DELETE FROM menti_tag WHERE menti_email = #{menti_email};
</delete>



</mapper>