.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.password-find-container {
	padding: 20px;
	width: 70%;
	max-width: 500px;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background:linear-gradient(135deg, transparent 30px, rgb(252, 252, 252) 0);
}

.password-find-container h3,
.password-find-container input {
	margin-bottom: 50px;
}

.password-find-container input[type="text"] {
	background-color: #E4E6EF;
	padding-left: 20px;
	width: 400px;
	height: 60px;
	border: none;
	border-bottom: 2px solid #c9c9c9;
	transition: .2s;
	color: #000;
}
.password-find-container input::placeholder {
  color: #7E7E7E;
}

.password-find-container input:active,
.password-find-container input:focus,
.password-find-container input:hover {
  outline: none;
  border-bottom-color: #777777;
}

.password-find-container input[type="button"] {
	width: 400px;
  	height: 60px;
 	border: none;
  	border-radius: 5rem;
  	background-color: #E4E6EF;
  	transition: .5s;
  	margin-bottom: 20px; 
}
.password-find-container input[type="button"]:active,
.password-find-container input[type="button"]:hover{
  background-color: #C0C0C0;
}