@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
 font-family: 'NanumSquareNeo-Variable';
}
html{
      display:flex;
      justify-content: center;
}
body {
 	  padding-top: 110px;
      image-rendering: -webkit-optimize-contrast; /* chrome */
      background-image: url("/resources/img/mate/back.png");
      background-size: 100%;
      min-width: 1312px;
      min-height: 1500px;
      overflow-x: hidden;
    }
    
td {
	padding: 10px;
	text-align: center;
	font-size:20px;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	color: #333;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 50px;
}
.label {
	width: 120px;
	text-align: center;
	
	font-weight: bold;
	color: #6f8c9b;
	font-size:20px;
}

.value {
	color: #333;
}
/* main 컨텐츠 css */
.main-button-group {
  display:flex;
  align-items: center;
}
.main-button {
  height: 40px;
  width: 40px;
  background-position: center;
  padding: 25px 15px;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  border:none;
}
#modifyButton {
  background-image: url("/resources/img/mate/detailMainModify.png");
  background-repeat: no-repeat; 
}
#deleteButton {
  background-image: url("/resources/img/mate/detailMainDelete.png");
  background-repeat: no-repeat; 
}
#modifyButton:hover {
  background-image: url("/resources/img/mate/detailMainModify2.png");
  background-repeat: no-repeat; 
}
#deleteButton:hover {
  background-image: url("/resources/img/mate/detailMainDelete2.png");
  background-repeat: no-repeat; 
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
 	align-items: center;
	background-image: url("/resources/img/mate/detailback.png");
 	background-position: top;
    background-repeat: no-repeat; 
    background-size: 1192px auto;
	margin: 0 auto;
	padding-top: 20px;
	
}


#comment-textarea {
	width: 90%;
	height: 70px;
	margin-bottom: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	resize: none;
	background-color: #fff;
	font-size: 16px;
	color: #444;
}

#comment-submit-btn {
  height: 64px;
  width:94px;
  display: inline-block;
  padding: 25px 15px;
  margin: 28px 0px 25px 2px;
  background-color: transparent;
  background-size: 100%;
  color: #333;
  text-decoration: none;
}

#comment-submit-btn:hover {
  background-image: url("/resources/img/mate/writebt.png");
  background-position: center;
  background-repeat: no-repeat; 
}

.modifyBox {
	width: 380px;
	height: 70px;
}
#content-title {
 line-height : 270px;
}

#info {
	flex-direction: column; 
}
#comment-select {
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 130px;
}

#info tr,#comment-select{

	font-weight: bold;
	color: #333;
	font-size:20px;
}
#info tr td{
	text-align: center;

}
#select-title{
	width: 140px;
	height: 130px;
	text-align: center;
}
#comment-section{
min-height: 600px;
}
/* 댓글창 */
#input-group{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("/resources/img/mate/cc.png");
  background-position: center;  
  width: 546px; /* 버튼 이미지의 너비 */

}
input:focus {outline: 2px solid #d50000;} /* outline 테두리 속성 수정 */
input:focus {outline: none;} /* outline 테두리 없애기 */
#comment-textarea {
	
	width: 388px;
	height: 70px;
    text-align: start;
    cursor: text;
    background: none;
    margin: 30px 0px 25px 30px;

}
#comment-textarea::placeholder {
  color: #0099ff; /* 원하는 색상으로 변경 */
  font-size: 25px;
}
.reply-button {
  height: 25px;
  width: 25px;
  background-position: center;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  border:none;
}
#select-btn {
  background-image: url("/resources/img/mate/detailReplySelect.png");
  background-repeat: no-repeat; 
}
#delete-btn {
  background-image: url("/resources/img/mate/detailReplyDelete.png");
  background-repeat: no-repeat; 
}
#select-btn:hover {
  background-image: url("/resources/img/mate/detailReplySelect2.png");
  background-repeat: no-repeat; 
}
#delete-btn:hover {
  background-image: url("/resources/img/mate/detailReplyDelete2.png");
  background-repeat: no-repeat; 
}
#comment-list{
min-height:400px;
}
