<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--BOOTSTRAP CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!--BOOTSTRAP JavaScript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>
</head>
<style>
  body {
    background-color: #E4E6EF;
  }

  .main-container {
    justify-content: center;
    text-align: center;
  }
</style>
<!----------------------------------------------------------------------------------------------------------------->
<!-- 사이드바 -->
<div class="sidebar">
  <div class="sidebar-nothover-menu">
    <div class="sidebar-menu" style="padding: 8px 0px 8px 12px;">
      <img src="/src/main/webapp/resources/img/logo/LD_logo_gray.png" alt="" style="width: 40px; height: 40px;">
    </div>
    <div class="sidebar-menu" style="padding: 18px;">
      <img src="" alt="">
    </div>
    <div class="sidebar-menu">
      <img src="/src/main/webapp/resources/img/icon/free-icon-ranking-3162263.png" alt="" class="side-bar-icon">
    </div>
    <div class="sidebar-menu">
      <img src="/src/main/webapp/resources/img/icon/free-icon-community-3594834.png" alt="" class="side-bar-icon">
    </div>
    <div class="sidebar-menu">
      <img src="/src/main/webapp/resources/img/icon/free-icon-mentorship-8920780.png" alt="" class="side-bar-icon">
    </div>
    <div class="sidebar-menu">
      <img src="/src/main/webapp/resources/img/icon/free-icon-game-control-4315528.png" alt="" class="side-bar-icon">
    </div>
    <div class="sidebar-menu">
      <img src="/src/main/webapp/resources/img/icon/free-icon-user-996484.png" alt="" class="side-bar-icon">
    </div>
    <div class="sidebar-menu">
      <img src="/src/main/webapp/resources/img/icon/free-icon-megaphone-92206.png" alt="" class="side-bar-icon">
    </div>
  </div>

  <div class="sidebar-area">
    <div class="sidebar-logo-box"><img src="/src/main/webapp/resources/img/logo/LoLing in the Deep2.svg" alt="LD.GG로고">
    </div>

    <div class="accordion" id="accordionExample">

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <img src="/src/main/webapp/resources/img/icon/free-icon-ranking-3162263.png" alt="" class="side-bar-icon">
            랭킹
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 챔피언 티어</span></a></div>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 소환사 랭킹</span></a></div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <img src="/src/main/webapp/resources/img/icon/free-icon-community-3594834.png" alt="" class="side-bar-icon">
            커뮤니티
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <span class="bullet bullet-dot"></span>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 챔피언 공략</span></a></div>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 롤 메이트</span></a></div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <img src="/src/main/webapp/resources/img/icon/free-icon-mentorship-8920780.png" alt=""
              class="side-bar-icon"> 멘토링
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 멘토 요청</span></a></div>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 멘토 찾기</span></a></div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <img src="/src/main/webapp/resources/img/icon/free-icon-game-control-4315528.png" alt=""
              class="side-bar-icon"> 미니게임
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 승부예측</span></a></div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <img src="/src/main/webapp/resources/img/icon/free-icon-user-996484.png" alt="" class="side-bar-icon"> 마이 메뉴
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 대시보드</span></a></div>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 프로필</span></a></div>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 개인정보 수정</span></a></div>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 마이 멘토링</span></a></div>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 내 지갑</span></a></div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <img src="/src/main/webapp/resources/img/icon/free-icon-megaphone-92206.png" alt="" class="side-bar-icon">
            고객지원
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• 공지사항</span></a></div>
            <div class="accordion-body-menu"><a href="" class="accordion-body-link"><span>• FAQ</span></a></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!-- 헤더 -->
<div class="header-container">
  <header>

    <div class="search-bar-box">
      <img src="/src/main/webapp/resources/img/logo/LD_logo_bluered.png" alt="" class="search-bar-logo">
      <input type="text" class="search-bar-input" placeholder="소환사명을 입력해주세요">
      <img src="/src/main/webapp/resources/img/icon/free-icon-magnifying-glass-49116.png" alt=""
        class="search-bar-icon">
    </div>

    <div class="header-icon-box">
      <div class="message-icon-box">
        <img src="/src/main/webapp/resources/img/icon/free-icon-message-5941217.png" alt="" class="message-icon-img">
        <div class="message-notification"></div>
      </div>
      <div class="alarm-icon-box">
        <img src="/src/main/webapp/resources/img/icon/free-icon-notification-bell-3680267.png" alt=""
          class="alarm-icon-img">
        <span class="alarm-notification"></span>
      </div>
      <div class="bookmark-icon-box">
        <img src="/src/main/webapp/resources/img/icon/free-icon-bookmark-white-25667.png" alt=""
          class="bookmark-icon-img">
      </div>
    </div>

    <div class="user-info-box">
      <div class="summoner-profile-icon-box">
        <img src="/src/main/webapp/resources/img/icon/profileIcon5626.webp" alt="">
      </div>
      <div class="summoner-name-box">
        <h5>파오리치킨 님</h5>
      </div>
      <div class="user-type-box">
        <div class="user-type-common">
          <h5>일반회원</h5>
        </div>
        <div class="user-type-mentor" style="display: none;">
          <h5>멘토회원</h5>
        </div>
        <div class="user-type-admin" style="display: none;">
          <h5>어드민</h5>
        </div>
        <div class="user-type-stop" style="display: none;">
          <h5>정지회원</h5>
        </div>
      </div>
    </div>

    <div class="login-button-box">
      <button class="login-button" data-bs-toggle="modal" data-bs-target="#login-modal">LOGIN</button>
    </div>

    <div class="logout-button-box" style="display: none;">
      <button class="logout-button">LOGOUT</button>
    </div>

  </header>
</div>
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!-- 로그인 모달박스 -->
<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #172B36;">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          style="background-color: #ffffff;"></button>
      </div>
      <div class="modal-body login-modal-body">
        <div class="login-img-box">
          <img src="/src/main/webapp/resources/img/logo/main.png" alt="로그인 이미지">
        </div>
        <div class="login-box">
          <div class="input-area">
            <div><img src="/src/main/webapp/resources/img/logo/LD_logo.svg" alt="LD_logo"
                style="width: 100px; height: 100px;"></div>
            <div class="input-id">
              <input type="email" placeholder="아이디">
            </div>
            <div class="input-pw">
              <input type="password" placeholder="비밀번호">
            </div>
            <div>
              <button class="login-modal-button">로그인</button>
            </div>
            <div>
              <button class="login-modal-button">회원가입</button>
            </div>
            <div>
              <a href="" class="find-tag">아이디 찾기</a>
            </div>
            <div>
              <a href="" class="find-tag">비밀번호 찾기</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-color: #1E3D4F;">
      </div>
    </div>
  </div>
</div>
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!-- 푸터 -->
<div class="footer-container">
  <footer>
    <div class="team-name-box">
      <img src="/src/main/webapp/resources/img/logo/team_name_logo.png" alt="" class="team-name-img">
      <h5 class="team-name-h5">TEAM : Loling Thunder</h5>
    </div>

    <div class="team-members-box">
      <h5 class="team-members-box">TEAM MEMBERS: 오건오, 박민규, 채희정, 최형로, 김시현, 이태현</h5>
    </div>
  </footer>
</div>
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!-- 메인 컨테이너 -->
<div class="main-container">
  <h1>index.jsp</h1>
  <form action="/member/login" name="logFrm" method="post">
    <table border="1">
      <tr>
        <td colspan="2" align="center">로그인</td>
      </tr>
      <tr>
        <td><input type="text" name="email"></td>
        <td rowspan="2"><button>로그인</button>
      </tr>
      <tr>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td colspan="2" align="center" bgcolor="skyblue">마 쪼리나?</td>
      </tr>
      <tr>
        <td colspan="2" align="center"><a href="/member/join">회원가입</a></td>
      </tr>
    </table>
  </form>
  <a href="/member/findEmail">이메일 찾기</a>
  <a href="/member/findPassword">비밀번호 찾기</a>
  <p>이메일 : ${sessionScope.email}</p>
  <p>롤 계정 : ${sessionScope.lol_account}</p>
  <p>유저 타입 : ${sessionScope.user_type}</p>
  <form id="logoutFrm" action="/member/logout" method="post">
    <a href="javascript:logout()">로그아웃</a>
  </form>
  <a href="/member/testMain">테스트메인</a>
  <button onclick="loginCheck()">로그인확인버튼</button>
  <br>
  <br>
  <br>
  <form action="/champion/champ-recom.json">
    <input type="text" name="lane"> <input type="text" name="tag">
    <input type="text" name="right_champion">
    <button>추천 챔피언</button>
  </form>

  <form action="/champion/build-recom.json">
    <input type="text" name="left_champion"> <input type="text" name="right_champion">
    <button>빌드</button>
  </form>
</div>
</body>

</html>